.bodymargin{
    margin-left: 5%;
    margin-right: 5%;
}

/* Navbar */
.max-width {
    width: 100%;
    text-align: center;
    color: white;
}

.logo {
    width: 250px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav-margin {
    margin-left: 50px;
    margin-right: 50px;
}

/* Footer */
.footer{
    position: inherit !important;
}

.logo-footer {
    width: 200px;
    height: auto;
}

.footertext {
    margin-left: 40%;
    color: white;
}

.footer_menu_layout {
    width: 30%;
    float: left;
    line-height: normal;
    margin-bottom: 25px;
}

.footerlayout {
    background-color: #215357;
    padding: 15px;
    padding-top: 50px;
}

.footerheading{
    margin-bottom: 10px;
}

.footermenumargin{
    margin-bottom: 3px;
}

.footermenulink{
    color: white;
    text-decoration: none;
}