@{
    ViewData["Title"] = "Home Page";
    <link rel="stylesheet" href="~/css/mainpage.css" />
}


    <div class="mainbanner" id="mainbanner">
        <div class="mainbanertext">
            <h3>DO BETTER BY KNOWING</h3>
            <h3>OUR PEOPLE BETTER</h3>
        </div>
        <a class="btn btn-outline-secondary buttoncolor" asp-area="" asp-controller="Product" asp-action="Index">OUR PRODUCTS</a>
    </div>

    <div class="bestseller">
        <div>
            <div class="bestsellerimagewidth">
                <img class="bestlogo" src="~/images/mainpage/bestseller/icon.png" />
                <img class="bestimgage maxwidth" src="~/images/mainpage/bestseller/best1.png" />
            </div>
            <div class="bestsellertextwidth">
                <p class="titlecolor bestsellertitle">GREEN MUSSLE 7500</p>
                <p class="textcolor bestsellertext">Green Mussel 7500 is a very good health supplement to relieve joint pain. It helps reduce arthritis symptom and increasse joint mobility.</p>
                <button class="titlecolor bestsellerbutton">FIND OUT MORE</button>
            </div>
        </div>
    </div>


    <div class="marginbottom">
        <h3 class="whylayout">WHY CHOOSE US?</h3>
        <div class="itemlayout">
            <div class="itemwidth">
                <img class="float-left whyimage" src="~/images/mainpage/whychooseus/Home page_why choose us icon1.png" />
                <div class="float-left whytextbox">
                    <p class="titletext">MADE IN NZ</p>
                    <p>All our products are produly made in New Zealand.</p>
                </div>
            </div>
            <div class="itemwidth">
                <img class="float-left whyimage" src="~/images/mainpage/whychooseus/Home page_why choose us icon2.png" />
                <div class="float-left whytextbox">
                    <p class="titletext">LAB TESTED</p>
                    <p>All our products are lab tested for the best quality.</p>
                </div>               
            </div>
            <div class="itemwidth">
                <img class="float-left whyimage" src="~/images/mainpage/whychooseus/Home page_why choose us icon3.png" />
                <div class="float-left whytextboxlastitem">
                    <p class="titletext">INNOVATION</p>
                    <p>Develop unique and high quality formulas with premium quality ingredients</p>
                </div>               
            </div>
        </div>        
    </div>

    <div class="dolayout">
        <div class="doimgwidth">
            <img class="maxwidth" src="~/images/mainpage/bottombanner/bottombanner.png" />
        </div>
        <div class="dotextbox">
            <p class="dotitle">DO BETTER BY KNOWNG OUT PEOPLE BETTER</p>
            <p class="dotext">HealthUP was created in New Zealand with the aim of providing good quality health supplements to enable people to live healthy.</p>
            <p class="dotext">Our emphasis is on using pure and natural ingredients to make health supplements of consistent quality.</p>
        </div>
    </div>

