.loginlayout {
    background-image: url("../images/admin/Admin-page-top-banner.jpg");
    padding: 5%;
    padding-left: 30%;
    padding-right: 30%;
}

.loginform {
    background-color: #f5f5f5;
    padding: 5%;
    padding-left: 10%;
}

.loginbutton {
    background-color: #215357;
    width: 25%;
    margin-right: 33%;
    margin-left: 33%;
    padding: 10px;
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 25px;
}