@model HealthUp.DataModel.User
@{
    ViewData["Title"] = "LogIn";
    <link href="~/css/login.css" rel="stylesheet" />
}

    <div class="loginlayout">
        <h1 class="text-center font-weight-bold">Admin Page Log In</h1>
        @using (Html.BeginForm("ValidationCheck", "Account", FormMethod.Post))
        {
            @Html.LabelFor(m => m.Id, new { @class = "websitelayout font-weight-bold"})
            @Html.TextBoxFor(m => m.Id, new { @class = "websitelayout" })
            @Html.LabelFor(m => m.Password, new { @class = "websitelayout font-weight-bold" })
            @Html.TextBoxFor(m => m.Password, new { @class = "websitelayout" })
            <button class="loginbutton">Log In</button>
        }
    </div>

