@model List<HealthUp.ViewModel.ArticleListViewModel>
@{
    ViewData["Title"] = "Article";
    <link href="~/css/article.css" rel="stylesheet" />
}

<div class="articlebanner">
    <p class="articletitle">HEALTH ARTICLES</p>
</div>
<div class="articlelist">
    @foreach (var item in Model)
    {
    <div class="articleListlayout shadow mt-5 mb-5 bg-white rounded">
        <a class="hoverblack" href="@Url.Action("ArticleDetail", "Article", new { id = @item.Id })">
            <img class="max-width" src=@item.ThumbnailImage />
            <div class="articleitemlayout">
                <p class="titlefont brandcolor articlelisttitle">@item.Title</p>
                <p class="textfont articlelistbody">@Html.Raw(item.Body)</p>
            </div>
            <div>
                <p class="whitetext articlebutton">READ MORE</p>
            </div>

        </a>
    </div>
    }
</div>